@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.hljs-string {
    color: #FC6A5D;
}

.hljs-keyword {
    color: #FC5FA3;
}

.hljs-function .hljs-title {
    color: #67afc9;
}

.hljs-type {
    color: #5DD8FF;
}

.hljs-comment {
    color: #6C7986;
}

.hljs-variable {
    color: #91D462;
}

.hljs-number {
    color: #9686F5;
}

pre {
    @apply p-4 bg-gray-900 text-white rounded overflow-x-scroll;
}

pre code {
    @apply mr-4
}